

.icon-user{
    width: 15%;
    padding: 5%;
    background: #26A9AF;
    border-radius: 50%;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 39%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    /*height: 450px;*/

}
.content-error{
    text-align: center;
}
ion-input{
    width: 100% !important;
}