<ion-content color="personal" style="background: linear-gradient(to bottom left,#26a8cf,#494,#fff)" class="body">
	<div class="content-page">
		<div>
			<label>
				<ion-button class="signin" shape="round" color="dark" (click)="signIn()">Connexion</ion-button>
			</label>
			<label>
				<ion-button class="signup" shape="round"   color="dark" (click)="signUp()">Inscription</ion-button>
			</label>
			<label>
				<ion-button class="help" shape="round" color="dark" (click)="about()">En Savoir Plus</ion-button>
			</label>
		</div>		
	</div>
</ion-content>
